<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="Admin/Public/framework">
<head>
    <title>用户列表</title>
    <style>
        /*覆盖 layui*/
        .layui-table {
            margin-top: 0;
        }

        .layui-btn {
            margin: 2px 0!important;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <blockquote class="layui-elem-quote">
         <span class="layui-breadcrumb" lay-separator=" / ">
              <a th:href="@{/admin}">首页</a>
              <a><cite>用户列表</cite></a>
        </span>
    </blockquote>

    <table class="layui-table" lay-even lay-skin="nob">
        <colgroup>
            <col width="100">
            <col width="100">
            <col width="100">
            <col width="50">
            <col width="50">
            <col width="100">
            <col width="50">
        </colgroup>
        <thead>
        <tr>
            <th>用户名</th>
            <th>昵称</th>
            <th>电子邮件</th>
            <th>状态</th>
            <th>操作</th>
            <th>ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${userList}">
            <td>
                <img th:src="${u.userAvatar}" width="48" height="48">
                <strong><a th:href="@{'/admin/user/profile/' + ${u.id}}" th:text="${u.userName}">用户名</a></strong>
            </td>
            <td th:text="${u.userNickname}">
                ${u.userNickname}
            </td>
            <td th:text="${u.userEmail}">
                ${u.userEmail}
            </td>
            <!--<td th:text="${u}">
                ${u.articleCount}
            </td>-->
            <td th:utext="${u.userStatus == 0 ? '<span style=color:#FF5722;>禁用</span>' : '<span style=color:red;>正常</span>'}">
            </td>
            <td>
                <a th:href="@{'/admin/user/edit/' + ${u.id}}" class="layui-btn layui-btn-mini">编辑</a>
                <a th:href="@{'/admin/user/delete/' + ${u.id}}" class="layui-btn layui-btn-danger layui-btn-mini"
                   onclick="return confirmDelete()">删除</a>
            </td>
            <td th:text="${u.id}">
                ${u.userId}
            </td>
        </tr>
        </tbody>
    </table>
</th:block>
</body>
</html>