<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="Home/Model/template">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>抱歉，出现了点小问题！</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="page" class="site" style="transform: none;">
    <th:block layout:fragment="index-left">
        <div id="content" class="site-content" style="transform: none;">
            <!--博客主体-左侧正文 start-->
            <div class="content-area" style="height: 100%">
                <main id="main" class="site-main" role="main">

                    <header id="header_500">
                        <h1><span class="icon">500</h1>
                    </header>
                    <div id="content_404">
                        <h2>系统内容错误！</h2>
                        <div class="utilities">
                            <center>
                                <div>
                                    <th:block th:text="${session.exception_msg.message}"></th:block>
                                </div>
                                <div id="btn">
                                    <a class="button" href="/">返回首页</a>
                                    <a class="button"
                                       href="http://wpa.qq.com/msgrd?v=3&uin=847064370&site=qq&menu=yes">联系站长</a>
                                    <div class="clear"></div>
                                </div>
                            </center>
                        </div>
                    </div>
                </main><!-- .site-main -->

            </div>
            <!--  博客主体-左侧正文 end-->


            <div class="clear"></div>
        </div>
    </th:block>

</div>
</body>
</html>
