HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

### mvnw ###
mvnw
.cmd

### test ###
/test/
/test/*

### log ###
.log
.gz

### 忽略生产环境 ###
application-product.yml

### 忽略docker配置 ##
/docker/
/docker/*