<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="Admin/Public/framework">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="">
    <title>编辑标签</title>
    <style>
        /*覆盖 layui*/
        .layui-input-block {
            margin: 0px 10px;
        }

        .layui-table {
            margin-top: 0;
        }

        .layui-col-md4 {
            padding: 10px;
        }

        .layui-col-md8 {
            padding: 10px;
        }

        .layui-btn {
            margin: 2px 0 !important;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <blockquote class="layui-elem-quote">
        <span class="layui-breadcrumb" lay-separator=" / ">
            <a th:href="@{'/admin'}">首页</a>
            <a th:href="@{'/admin/tag'}">标签列表</a>
            <a><cite>编辑标签</cite></a>
        </span>
    </blockquote>

    <div class="layui-row">
        <div class="layui-col-md4">
            <form class="layui-form" method="post" id="myForm" action="/admin/tag/editSubmit">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <strong>编辑标签</strong>
                    </div>
                    <input type="hidden" name="id" th:value="${tag.id}">
                    <div class="layui-input-block">
                        名称 <span style="color: #FF5722; ">*</span>
                        <input type="text" name="tagName" th:value="${tag.tagName}" autocomplete="off"
                               class="layui-input"
                               required>
                    </div>
                    <br>
                    <div class="layui-input-block">
                        标签描述
                        <input type="text" name="tagDescription" th:value="${tag.tagDescription}" autocomplete="off"
                               class="layui-input">
                    </div>
                    <br>
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-filter="formDemo" type="submit">保存</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-col-md8">
            <table class="layui-table">
                <colgroup>
                    <col width="300">
                    <col width="50">
                    <col width="100">
                    <col width="50">
                </colgroup>
                <thead>
                <tr>
                    <th>名称</th>
                    <th>文章数</th>
                    <th>操作</th>
                    <th>id</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${tagList}">
                        <td>
                            <a th:href="@{'/tag/' + ${c.id}}" target="_blank" th:text="${c.tagName}">标签名</a>
                        </td>
                        <td>
                            <a th:href="@{'/tag/' + ${c.id}}" target="_blank" th:text="${c.articleCount}">文章数</a>
                        </td>
                        <td>
                            <a th:href="@{'/admin/tag/edit/' + ${c.id}}" class="layui-btn layui-btn-mini">编辑</a>
                            <a th:if="${c.articleCount == 0}" th:href="@{'/admin/tag/delete/' + ${c.id}}"
                               class="layui-btn layui-btn-danger layui-btn-mini"
                               onclick="return confirmDelete()">删除</a>
                        </td>
                    <td th:text="${c.id}">id</td>
                    </tr>
                </tbody>
            </table>
            <blockquote class="layui-elem-quote layui-quote-nm">
                温馨提示：
                <ul>
                    <li>如果该分类包含文章，将不可删除</li>
                    <li>分类状态为1表示将显示在侧边栏，为0表示不显示在侧边栏(依然显示在正文)</li>
                </ul>
            </blockquote>
        </div>
    </div>
</th:block>
</body>
</html>
