<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="Home/Model/template">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.articleTitle}">文章详情页</title>
</head>
<body>
<!-- nav -->
<th:block layout:fragment="breadcrumb">
    <nav class="breadcrumb">
        <a class="crumbs" href="/">
            <i class="fa fa-home"></i>首页
        </a>
        <th:block th:each="catlist : ${article.categoryList}">
            <i class="fa fa-angle-right"></i>
            <a th:href="@{'/category/' + ${catlist.id}}" th:text="${catlist.categoryName}">
                分类
            </a>
        </th:block>
        <th:block th:if="${article.categoryList == null}">
            <i class="fa fa-angle-right"></i>
            未分类
        </th:block>
        <i class="fa fa-angle-right"></i>正文
    </nav>
</th:block>
<th:block layout:fragment="index-left">
    <!--博客主体-左侧文章正文 start-->
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            <article class="post" id="articleDetail" data-id="${article.articleId}">
                <header class="entry-header">
                    <h1 class="entry-title" th:text="${article.articleTitle}">
                        文章标题
                    </h1>
                </header><!-- .entry-header -->
                <div class="entry-content">
                    <div class="single-content" th:utext="${article.articleContent}">
                        文章内容
                    </div>
                    <div class="s-weixin">
                        <ul class="weimg1">
                            <li><strong>微信</strong></li>
                            <li>赶快加我聊天吧</li>
                            <li><img src="/img/weixin.jpg"></li>
                        </ul>
                        <ul class="weimg2">
                            <li><strong>博客交流群</strong></li>
                            <li>海纳百川，大家来水</li>
                            <li><img src="/img/qqGroup.png" alt="weinxin"></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div id="social">
                        <div class="social-main">
                            <span class="like">
                                <a href="javascript:;" data-action="ding" data-id="1" title="点赞"
                                   class="favorite" th:onclick="'increaseLikeCount(' + ${article.id} +')'">
                                    <i class="fa fa-thumbs-up"></i>赞
                                    <i class="count"
                                       th:id="'count-' + ${article.id}" th:text="${article.articleLikeCount}">0</i>
                                </a>
                            </span>
                            <div class="shang-p">
                                <div class="shang-empty"><span></span></div>
                                <span class="shang-s">
                                    <!--<a onclick="PaymentUtils.show();" style="cursor:pointer">赏</a>-->
                                    <a style="cursor:pointer"></a>
                                </span>
                            </div>
                            <div class="share-sd">
                                        <span class="share-s"style="margin-top: 25px!important;">
                                            <a href="javascript:void(0)" id="share-s" title="分享">
                                                <i class="fa fa-share-alt"></i>分享
                                            </a>
                                        </span>
                                <div id="share">
                                    <ul class="bdsharebuttonbox bdshare-button-style1-16" data-bd-bind="1503997585792">
                                        <li><a title="更多" class="bds_more fa fa-plus-square" data-cmd="more"
                                               onclick="return false;" href="#"></a></li>
                                        <li><a title="分享到QQ空间" class="fa fa-qq" data-cmd="qzone" onclick="return false;"
                                               href="#"></a></li>
                                        <li><a title="分享到新浪微博" class="fa fa-weibo" data-cmd="tsina"
                                               onclick="return false;" href="#"></a></li>
                                        <li><a title="分享到腾讯微博" class="fa fa-pinterest-square" data-cmd="tqq"
                                               onclick="return false;" href="#"></a></li>
                                        <li><a title="分享到人人网" class="fa fa-renren" data-cmd="renren"
                                               onclick="return false;" href="#"></a></li>
                                        <li><a title="分享到微信" class="fa fa-weixin" data-cmd="weixin"
                                               onclick="return false;" href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <footer class="single-footer">
                        <ul class="single-meta">
                            <c:if test="${sessionScope.user!=null}">
                                <li class="edit-link">
                                    <a target="_blank" class="post-edit-link"
                                       href="/admin/article/edit/${article.articleId}">编辑</a>
                                </li>
                            </c:if>
                            <li class="comment">
                                <a href="/article/detail/${article.articleId}#comments"
                                   rel="external nofollow">
                                    <i class="fa fa-comment-o"></i>
                                    <i class="comment-count" th:text="${comments.size()}">10</i>
                                </a>
                            </li>
                            <li class="views">
                                <i class="fa fa-eye"></i> <span
                                    class="articleViewCount" th:text="${article.articleViewCount}">20</span>
                                浏览
                            </li>
                            <li class="r-hide">
                                <a href="javascript:pr()" title="侧边栏">
                                    <i class="fa fa-caret-left"></i>
                                    <i class="fa fa-caret-right"></i>
                                </a>
                            </li>
                        </ul>
                        <ul id="fontsize">
                            <li>A+</li>
                        </ul>
                        <div class="single-cat-tag">
                            <div class="single-cat">所属分类：
                                <a th:each="c : ${article.categoryList}" th:href="@{'/category/' + c.id}"
                                   th:text="${c.categoryName}">
                                    ${c.categoryName}
                                </a>
                            </div>
                        </div>
                    </footer><!-- .entry-footer -->
                    <div class="clear"></div>
                </div><!-- .entry-content -->
            </article><!-- #post -->

            <!--所属标签 start-->
            <div class="single-tag">
                <ul class="" data-wow-delay="0.3s">
                    <li th:each="tag : ${article.tagList}">
                        <a th:href="@{'/tag/' + ${tag.id}}" th:text="${tag.tagName}" rel="tag"
                           style="background:#666666">
                            ${t.tagName}
                        </a>
                    </li>
                </ul>
            </div>
            <!--所属标签 end-->

            <!--评论区域 start-->
            <div class="scroll-comments"></div>
            <div id="comments" class="comments-area">
                <div id="respond" class="comment-respond">
                    <h3 id="reply-title" class="comment-reply-title"><span id="reply-title-word">发表评论</span>
                        <a rel="nofollow" id="cancel-comment-reply-link"
                           href="/article/detail/${article.articleId}#respond"
                           style="">取消回复</a>
                    </h3>
                    <form id="comment_form" method="post" onsubmit="return false;">
                        <div class="user_avatar" th:if="${session.user != null}">
                            <img alt="言曌"
                                 th:src="${session.user.userAvatar}"
                                 class="avatar avatar-64 photo" height="64" width="64">
                            <th:block th:text="${session.user.userNickname}">登录者：xxx</th:block>
                            <br> <a href="javascript:void(0)" onclick="logout()">登出</a>
                            <input type="hidden" name="commentRole" value="1">
                            <input type="hidden" name="commentAuthorName"
                                   value="${sessionScope.user.getUserNickname()}">
                            <input type="hidden" name="commentAuthorEmail"
                                   value="${sessionScope.user.getUserEmail()}">
                            <input type="hidden" name="commentAuthorUrl" value="${sessionScope.user.getUserUrl()}">
                        </div>
                        <p class="comment-form-comment">
                            <textarea id="comment" name="commentContent" rows="4" tabindex="1" required></textarea>
                        </p>
                        <div id="comment-author-info">
                            <input type="hidden" name="commentPid" value="0">
                            <input type="hidden" name="commentPname" value="">
                            <th:block th:if="${session.user == null}">
                                <input type="hidden" name="commentRole" value="0">
                                <p class="comment-form-author">
                                    <label for="author_name">
                                        昵称<span class="required">*</span>
                                    </label>
                                    <input type="text" name="commentAuthorName" id="author_name" class="" value=""
                                           tabindex="2" required>
                                </p>
                                <p class="comment-form-email">
                                    <label for="author_email">
                                        邮箱<span class="required">*</span>
                                    </label>
                                    <input type="email" name="commentAuthorEmail" id="author_email" class="" value=""
                                           tabindex="3" required>
                                </p>
                            </th:block>
                        </div>
                        <div class="clear"></div>
                        <p class="form-submit">
                            <input id="submit" name="submit" type="submit" tabindex="5" value="提交评论">
                            <input type="hidden" name="commentArticleId"
                                   th:value="${article.id}" id="article_id">
                            <input type="hidden" name="commentPid" id="comment_pid" value="0">
                        </p>
                    </form>
                </div>

                <ol class="comment-list">
                    <th:block th:each="c,cstat : ${comments}">
                        <li class="comments-anchor">
                            <ul id="anchor-comment-${c.commentId}"></ul>
                        </li>
                        <li class="comment">
                            <div th:id="'div-comment-' + ${c.id}" class="comment-body">
                                <div class="comment-author vcard">
                                    <img class="avatar" th:src="@{${c.commentAuthorAvatar}}" alt="avatar"
                                         style="display: block;">
                                    <strong th:text="${c.commentAuthorName}">作者昵称</strong>
                                    <th:block th:if="${c.commentRole == 1}">
                                        <i class="fa fa-black-tie" style="color: #c40000;"></i>
                                        <span class=""
                                              style="margin-top: 2px!important;color: #c40000;font-size: 13px;;"><b>博主</b></span>
                                    </th:block>
                                    <span class="comment-meta commentmetadata">
                                            <span class="ua-info" style="display: inline;">
                                                <br>
                                                <span class="comment-aux">
                                                    <span class="reply">
                                                        <a rel="nofollow" class="comment-reply-link" href="#respond"
                                                           onclick="replyComment()">回复
                                                        </a>
                                                    </span>
                                                    <th:block th:text="${#temporals.format(c.createTime, 'yyyy年MM月dd日 HH:mm:ss')} + '&nbsp;'">
                                                        yyyy年MM月dd日 HH:mm:ss
                                                    </th:block>
                                                    <th:block th:if="${session.user != null}">
                                                        <a href="javascript:void(0)"
                                                           th:onclick="'deleteComment(' + ${c.id} + ')'">删除</a>
                                                        <a class="comment-edit-link"
                                                           th:href="@{'/admin/comment/edit/' + ${c.id}}"
                                                           target="_blank">编辑</a>
                                                    </th:block>
                                                    <span class="floor" th:text="'&nbsp;' + ${cstat.index + 1} + '楼'"> &nbsp;${floor}楼 </span>
                                                </span>
                                            </span>
                                        </span>
                                    <p>
                                        <span class="at" th:if="${c.commentPid != 0}"
                                              th:text="'@ ' + ${c.commentPname}">@ 谁</span>
                                        <th:block th:text="${c.commentContent}">
                                            评论内容
                                        </th:block>
                                    </p>
                                </div>
                            </div>
                            <ul class="children">
                                <th:block th:each="c2,c2stat : ${comments}">
                                    <th:block th:if="${c.id == c2.commentPid}">
                                        <li class="comments-anchor">
                                            <ul th:id="'anchor-comment-' + ${c2.id}"></ul>
                                        </li>
                                        <li class="comment">
                                            <div th:id="'div-comment-' + ${c.id}" class="comment-body">
                                                <div class="comment-author vcard">
                                                    <img class="avatar" th:src="${c2.commentAuthorAvatar}" alt="avatar"
                                                         style="display: block;">
                                                    <strong th:text="${c2.commentAuthorName}">作者名 </strong>
                                                    <th:block th:if="${c2.commentRole==1}">
                                                        <i class="fa fa-black-tie" style="color: #c40000;"></i>
                                                        <span class=""
                                                              style="margin-top: 2px!important;color: #c40000;font-size: 13px;;"><b>博主</b></span>
                                                    </th:block>
                                                    <span class="comment-meta">
                                                    <span class="ua-info" style="display: inline;">
                                                    <br>
                                                    <span class="comment-aux">
                                                        <span class="reply">
                                                            <a rel="nofollow" class="comment-reply-link" href="#respond"
                                                               onclick="replyComment()">回复
                                                            </a>
                                                        </span>
                                                        <th:block th:text="${#temporals.format(c2.createTime, 'yyyy年MM月dd日 HH:mm:ss')} + '&nbsp;'"></th:block>
                                                        <th:block th:if="${session.user != null}">
                                                            <a href="javascript:void(0)"
                                                               th:onclick="'deleteComment(' + ${c2.commentId} + ')'">删除</a>
                                                            <a class="comment-edit-link"
                                                               th:href="@{'/admin/comment/edit/' + ${c2.id}}"
                                                               target="_blank">编辑</a>
                                                        </th:block>
                                                        <span class="floor" th:text="'&nbsp;' + ${c2stat.index + 1} + '楼'"> &nbsp;${floor}层 </span>
                                                    </span>
                                                </span>
                                                    </span>
                                                    <p>
                                                        <th:block th:if="${c2.commentPid != 0}">
                                                            <span class="at" th:text="${c2.commentPname}">评论者</span>
                                                            <th:block th:text="${c2.commentContent}">评论内容</th:block>
                                                        </th:block>
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </th:block>
                                </th:block>
                            </ul>
                        </li>
                    </th:block>
                </ol>
            </div>
            <!--评论框 end-->

        </main>
        <!-- .site-main -->
    </div>
    <!--博客主体-左侧文章正文end-->
</th:block>
<!--<th:block th:text="${article}"></th:block>-->

<th:block layout:fragment="index-right">
    <th:block th:replace="Home/Model/right::sidebar-list"></th:block>
</th:block>
</body>
</html>