<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="Home/Model/template">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
</head>
<body>

<th:block layout:fragment="breadcrumb">
    <nav class="breadcrumb">
        <a class="crumbs" href="/">
            <i class="fa fa-home"></i>首页
        </a>
        <i class="fa fa-angle-right"></i>
        <span>留言板</span>
    </nav>
</th:block>

<!-- 主体左边区域 -->
<th:block layout:fragment="index-left">

    <!-- 留言 start-->
    <div class="scroll-comments"></div>
    <div id="comments" class="comments-area">
        <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title"><span id="reply-title-word">发表留言</span>
                <a rel="nofollow" id="cancel-comment-reply-link"
                   href="/article/detail/${article.articleId}#respond"
                   style="">取消回复</a>
            </h3>
            <form id="ly_form" method="post" onsubmit="return false;">
                <p class="comment-form-comment">
                    <textarea id="comment" name="content" rows="4" tabindex="1" placeholder="来留个言鸭^-^"
                              style="resize: vertical;min-height: 100px;max-height: 200px;" required></textarea>
                </p>
                <div id="comment-author-info">
                    <input type="hidden" name="commentRole" value="0">
                    <p class="comment-form-author">
                        <label for="author_name">
                            昵称<span class="required">*</span>
                        </label>
                        <input type="text" name="nickName" id="author_name" class="" value=""
                               tabindex="2" required placeholder="请输入你的昵称">
                    </p>
                    <p class="comment-form-email">
                        <label for="author_email">
                            邮箱<span class="required">*</span>
                        </label>
                        <input type="email" name="email" id="author_email" class="" value=""
                               tabindex="3" required placeholder="请输入邮箱地址">
                    </p>
                    <p class="comment-form-email">
                        <div id="captcha1">
                            <p id="wait1" class="show">正在加载验证码......</p>
                        </div>
                    </p>
                </div>
                <div class="clear"></div>
                <p class="form-submit">
                    <input id="submit" name="submit" type="submit" tabindex="5" value="提交留言" style="width:100%;">
                </p>
            </form>
            <div th:replace="Home/Model/link::link"></div>
        </div>

        <ol class="comment-list">
            <th:block th:each="item,cstat : ${leaveWords.list}">
                <li class="comment">
                    <div th:id="'div-comment-' + ${item.id}" class="comment-body">
                        <div class="comment-author vcard">
                            <img class="avatar" th:src="@{${item.avatar}}" alt="avatar"
                                 style="display: block;">
                            <strong th:text="${item.nickName}">作者昵称</strong>
                            <th:block th:if="${item.role == 1}">
                                <i class="fa fa-black-tie" style="color: #c40000;"></i>
                                <span class=""
                                      style="margin-top: 2px!important;color: #c40000;font-size: 13px;;"><b>博主</b></span>
                            </th:block>
                            <span class="comment-meta commentmetadata">
                                <span class="ua-info" style="display: inline;">
                                    <br>
                                    <span class="comment-aux">
                                        <th:block
                                                th:text="${#temporals.format(item.createTime, 'yyyy年MM月dd日 HH:mm')} + '&nbsp;'">
                                            yyyy年MM月dd日 HH:mm:ss
                                        </th:block>
                                        <th:block th:if="${session.user != null}">
                                            <a href="javascript:void(0)"
                                               th:onclick="'deleteComment(' + ${item.id} + ')'">删除</a>
                                            <a class="comment-edit-link"
                                               th:href="@{'/admin/comment/edit/' + ${item.id}}"
                                               target="_blank">编辑</a>
                                        </th:block>
                                        <span class="floor" th:text="'&nbsp;' + ${cstat.index + 1} + '楼'"> &nbsp;${floor}楼 </span>
                                    </span>
                                </span>
                            </span>
                            <p th:text="${item.content}">
                                评论内容
                            </p>
                        </div>
                    </div>
                </li>
            </th:block>
        </ol>
        <!-- 分页 start -->
        <nav class="navigation pagination" role="navigation" style="float:left;">
            <div id="nav-links"></div>
        </nav>
        <!-- 分页 end-->
    </div>
    <!-- 留言 end-->

</th:block>
<th:block layout:fragment="script-extend">
    <script th:src="@{/plugin/geetest/gt.js}"></script>
    <script type="text/javascript">

        var handler1 = function (captchaObj) {
            // ajax提交留言信息
            $("#ly_form").submit(function () {
                var result = captchaObj.getValidate();
                if (!result) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg('验证失败', {icon: 5})
                    })
                    return false;
                }
                $.ajax({
                    async: false,
                    type: "post",
                    url: '/ly/send',
                    data: $("#ly_form").serialize(),
                    success: function (data) {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            if (data.code == 200) {
                                layer.msg('留言成功');
                                location.reload()
                            } else {
                                layer.msg(data.msg);
                            }
                        })
                    },
                    error: function () {
                    }
                })
            })
            // 将验证码加到id为captcha的元素里，同时会有三个input的值用于表单提交
            captchaObj.appendTo("#captcha1");
            captchaObj.onReady(function () {
                $("#wait1").hide();
            });
            // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
        };
        $.ajax({
            url: "/geetest/register?t=" + (new Date()).getTime(), // 加随机数防止缓存
            data: {"userEmail": $("#author_email").val()},
            type: "get",
            dataType: "json",
            success: function (data) {
                // 调用 initGeetest 初始化参数
                // 参数1：配置参数
                // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它调用相应的接口
                initGeetest({
                    gt: data.gt,
                    challenge: data.challenge,
                    new_captcha: data.new_captcha, // 用于宕机时表示是新验证码的宕机
                    offline: !data.success, // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                    product: "float", // 产品形式，包括：float，popup
                    width: "100%"
                    // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
                }, handler1);
            }
        });

    </script>

    <script type="text/javascript" th:inline="javascript">
        <!-- 分页 -->
        /*<![CDATA[*/
        var pages = /*[[${leaveWords.pageSize}]]*/ 1;
        var curr = /*[[${leaveWords.pageNum}]]*/ 1;
        var size = /*[[${leaveWords.total}]]*/ 5;

        layui.use(['layer','laypage'], function(){
            var laypage = layui.laypage,layer = layui.layer;
            laypage.render({
                elem: 'nav-links'
                ,limit: pages
                ,curr: curr
                ,count: size
                ,jump: function(obj, first) {
                    var currPage = obj.curr;
                    if (!first) {
                        location.href = '/ly/leaveWord/' + currPage;
                    }
                }
            });
        })
        /*]]>*/
    </script>
</th:block>

</body>
</html>