<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="Admin/Public/framework">
<head>
    <title>通知列表</title>
    <style>
        /*覆盖 layui*/

        .layui-table {
            margin-top: 0;
        }

        .layui-btn {
            margin: 2px 0 !important;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <blockquote class="layui-elem-quote">
        <span class="layui-breadcrumb" lay-separator=" / ">
          <a th:href="@{/admin}">首页</a>
          <a><cite>公告列表</cite></a>
        </span>
    </blockquote>


    <table class="layui-table">
        <colgroup>
            <col width="400">
            <col width="50">
            <col width="100">
            <col width="100">
            <col width="50">
        </colgroup>
        <thead>
        <tr>
            <th>标题</th>
            <th>Order</th>
            <th>状态</th>
            <th>操作</th>
            <td>ID</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${noticeList}">
            <td>
                <a th:href="@{'/notice/' + ${c.id}}" target="_blank" th:text="${c.noticeTitle}">标题</a>
            </td>
            <td th:text="${c.noticeOrder}">
                排序
            </td>
            <td th:text="${c.noticeStatus == 1 ? '显示' : '隐藏'}">
            </td>
            <td>
                <a th:href="@{'/admin/notice/edit/' + ${c.id}}" class="layui-btn layui-btn-mini">编辑</a>
                <a th:href="@{'/admin/notice/delete/' + ${c.id}}" class="layui-btn layui-btn-danger layui-btn-mini"
                   onclick="return confirmDelete()">删除</a>
            </td>
            <td th:text="${c.id}">1</td>
        </tr>
        </tbody>
    </table>
    <blockquote class="layui-elem-quote layui-quote-nm">
        温馨提示：
        <ul>
            <li>Order的大小决定显示的顺序</li>
        </ul>
    </blockquote>
</th:block>
</body>
</html>
