<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head><title>分页</title></head>
    <body>
        <!-- 分页 start -->
        <th:block th:fragment="paging">
            <script th:inline="javascript">
                /*<![CDATA[*/
                var pages = /*[[${pageInfo.pageSize}]]*/ 1;
                var curr = /*[[${pageInfo.pageNum}]]*/ 1;
                var size = /*[[${pageInfo.total}]]*/ 10;
                var pageUrlPrefix = /*[[${pageUrlPrefix}]]*/ location.href;

                layui.use('laypage', function(){
                    var laypage = layui.laypage;
                    laypage.render({
                        elem: 'paging'
                        ,limit: pages
                        ,curr: curr
                        ,count: size
                        ,jump: function(obj, first) {
                            var currPage = obj.curr;
                            if (!first) {
                                location.href = pageUrlPrefix + '=' + currPage;
                            }
                        }
                    });
                })
                /*]]>*/
            </script>
        </th:block>
        <!-- 分页 end -->
    </body>
</html>
