<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="Admin/Public/framework">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="">
    <title>分类列表</title>
</head>
<body>
<th:block layout:fragment="content">
    <blockquote class="layui-elem-quote">
        <span class="layui-breadcrumb" lay-separator=" / ">
              <a th:href="@{'/admin'}">首页</a>
              <a th:href="@{'/admin/category'}">分类列表</a>
              <a><cite>编辑分类</cite></a>
        </span>
    </blockquote>
    <div class="layui-row">
        <div class="layui-col-md4" >
            <form class="layui-form"  method="post" id="myForm" action="/admin/category/editSubmit">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <strong>修改分类</strong>
                    </div>
                    <input type="hidden" name="id" th:value="${category.id}">
                    <div class="layui-input-block">
                        名称 <span style="color: #FF5722; ">*</span>
                        <input type="text" name="categoryName" th:value="${category.categoryName}" placeholder=""
                               autocomplete="off" class="layui-input" required>
                    </div>
                    <br>
                    <div class="layui-input-block">
                        父节点 <span style="color: #FF5722; ">*</span>
                        <select name="categoryPid" class="layui-input" required>
                            <th:block th:each="c : ${category}">
                                <option th:value="${c.categoryPid}" th:selected="${c.id == category.categoryPid}"
                                        th:text="${c.categoryName}">无
                                </option>
                            </th:block>
                            <option value="0" th:selected="${category.categoryPid == 0}">无</option>
                        </select>
                    </div>
                    <br>
                    <div class="layui-input-block">
                        分类描述
                        <input type="text" name="categoryDescription" th:value="${category.categoryDescription}"
                               class="layui-input">
                    </div>
                    <br>
                    <div class="layui-input-block">
                        图标样式
                        <input type="text" name="categoryIcon" th:value="${category.categoryIcon}" class="layui-input">
                    </div>
                    <br>
                    <br>
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-filter="formDemo" type="submit">保存</button>
                    </div>
                </div>
            </form>
            <br><br>
        </div>
        <div class="layui-col-md8" >
            <table class="layui-table" >
                <colgroup>
                    <col width="30">
                    <col width="30">
                    <col width="300">
                    <col width="100">
                    <col width="140">
                </colgroup>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>PID</th>
                    <th>名称</th>
                    <th>文章/子节点数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="c : ${categoryList}" th:if="${c.categoryPid == 0}">
                    <tr>
                        <td th:text="${c.id}">id</td>
                        <td th:text="${c.categoryPid}">pid</td>
                        <td>
                            <a th:href="@{'/category/' + ${c.id}}" target="_blank" style="color: #FF5722;"
                               th:text="${c.categoryName}">分类名</a>
                        </td>
                        <td>
                            <a th:href="@{'/category/' + ${c.id}}" target="_blank" th:text="${c.categoryCount}">文章数</a>
                        </td>
                        <td>
                            <a th:href="@{'/admin/category/edit/' + ${c.id}}" class="layui-btn layui-btn-mini">编辑</a>
                            <!--<c:if test="${c.articleCount==0}">-->
                            <a th:href="@{'/admin/category/delete/' + ${c.id}}"
                               class="layui-btn layui-btn-danger layui-btn-mini" onclick="return confirmDelete()"
                               th:if="${c.categoryCount == 0}">删除</a>
                            <!--</c:if>-->
                        </td>
                    </tr>
                    <th:block th:each="c2 : ${categoryList}" th:if="${c2.categoryPid == c.id}">
                        <tr>
                            <td class="cate-parent" th:text="${c2.id}">id</td>
                            <td th:text="${c2.categoryPid}">类型父id</td>
                            <td>
                                <a th:href="@{'/category/' + ${c2.id}}" target="_blank"
                                   th:text="'——' + ${c2.categoryName}">——子类型</a>
                            </td>
                            <td>
                                <a th:href="@{'/category/' + ${c2.id}}" target="_blank" th:text="${c2.categoryCount}">文章数</a>
                            </td>
                            <td>
                                <a th:href="@{'/admin/category/edit/' + ${c2.id}}"
                                   class="layui-btn layui-btn-mini">编辑</a>
                                <!--<c:if test="${c2.articleCount==0}">-->
                                <a th:href="@{'/admin/category/delete/' + ${c2.id}}"
                                   class="layui-btn layui-btn-danger layui-btn-mini" onclick="return confirmDelete()"
                                   th:if="${c2.categoryCount == 0}">删除</a>
                                <!--</c:if>-->
                            </td>
                        </tr>
                    </th:block>
                </th:block>

                </tbody>
            </table>
            <blockquote class="layui-elem-quote layui-quote-nm">
                温馨提示：
                <ul>
                    <li>分类最多只有两级，一级分类pid=0，二级分类pid=其父节点id</li>
                    <li>如果该分类包含文章，将不可删除</li>
                </ul>
            </blockquote>
        </div>

    </div>
</th:block>
</body>
</html>
