<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="Admin/Public/framework">
<head>
    <title>评论列表</title>
    <style>
        /*覆盖 layui*/
        .layui-btn {
            margin: 2px 0 !important;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <blockquote class="layui-elem-quote">
        <span class="layui-breadcrumb" lay-separator=" / ">
              <a th:href="@{/admin}">首页</a>
              <a th:href="@{/admin/comment}">评论列表</a>
              <a><cite>编辑评论</cite></a>
        </span>
    </blockquote>

    <form class="layui-form"  method="post" id="myForm" action="/admin/comment/editSubmit">
        <input type="hidden" name="id" th:value="${comment.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">昵称 </label>
            <div class="layui-input-block">
                <input type="text" name="commentAuthorName" th:value="${comment.commentAuthorName}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱 </label>
            <div class="layui-input-block">
                <input type="text" name="commentAuthorEmail" th:value="${comment.commentAuthorEmail}"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">网址 </label>
            <div class="layui-input-block">
                <input type="text" name="commentAuthorUrl" th:value="${comment.commentAuthorUrl}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <textarea name="commentContent" class="layui-textarea"
                          th:text="${comment.commentContent}">评论内容</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary" >重置</button>
            </div>
        </div>

    </form>
</th:block>
</body>
</html>
