<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="Admin/Public/framework">
<head>
    <title>评论列表</title>
    <style>
        /*覆盖 layui*/
        .layui-table {
            margin-top: 0;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <blockquote class="layui-elem-quote">
        <span class="layui-breadcrumb" lay-separator=" / ">
              <a th:href="@{/admin}">首页</a>
              <a><cite>评论列表</cite></a>
        </span>
    </blockquote>
    <div class="layui-tab layui-tab-card">
        <table class="layui-table" lay-even lay-skin="nob">
            <colgroup>
                <col width="100">
                <col width="300">
                <col width="200">
                <col width="150">
                <col width="50">
            </colgroup>
            <thead>
            <tr>
                <th>作者</th>
                <th>评论内容</th>
                <th>回复至</th>
                <th>提交于</th>
                <th>ID</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${pageInfo.list}">
                    <td>
                        <img th:src="@{${c.commentAuthorAvatar}}" alt="" width="64px">
                        <strong th:text="${c.commentAuthorName}">评论作者名</strong>
                        <p th:text="${c.commentAuthorUrl}"></p>
                        <p th:text="${c.commentAuthorEmail}"></p>
                        <p th:text="${c.commentIp}"></p>
                    </td>
                    <td class="dashboard-comment-wrap">
                        <span class="at" th:if="${c.commentPid != 0}">@ </span>
                        <a th:href="@{${c.commentAuthorUrl}}" th:text="${c.commentPname}">${c.commentPname}</a>
                        <th:block th:text="${c.commentContent}"></th:block>
                        <div class="row-actions">
                            <span class="">
                                <a th:href="@{'/admin/comment/reply/' + ${c.id}}">
                                    回复
                                </a>
                            </span>
                            <span class=""> | <a th:href="@{'/admin/comment/edit/' + ${c.id}}">编辑</a></span>
                            <span class=""> | <a href="javascript:void(0)"
                                                 th:onclick="'deleteComment(' + ${c.id} + ')'">删除</a></span>
                        </div>
                    </td>
                    <td>
                        <a th:if="${c.article != null}" th:href="@{'/article/' + ${c.article.id}}"
                           target="_blank" th:text="${c.article.articleTitle}">${c.article.articleTitle}</a>
                    </td>
                <td th:text="${#temporals.format(c.createTime, 'yyyy年MM月dd日 HH:dd:ss')}"></td>
                <td th:text="${c.id}">${c.id}</td>

                </tr>
            </tbody>

        </table>

        <div id="nav" style="">

        </div>
    </div>
    <th:block th:replace="Admin/Public/paging::paging"></th:block>
</th:block>
</body>
</html>
