<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="Admin/Public/framework">
<head>
    <title>回复评论</title>
    <style>
        /*覆盖 layui*/
        .layui-btn {
            margin: 2px 0 !important;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <blockquote class="layui-elem-quote">
        <span class="layui-breadcrumb" lay-separator=" / ">
              <a th:href="@{/admin}">首页</a>
              <a th:href="@{/admin/comment}">评论列表</a>
              <a><cite>回复评论</cite></a>
        </span>
    </blockquote>

    <form class="layui-form"  method="post" id="myForm" action="/admin/comment/replySubmit">
        <input type="hidden" name="commentPid" th:value="${comment.id}">
        <input type="hidden" name="commentPname" th:value="${comment.commentAuthorName}">
        <input type="hidden" name="commentArticleId" th:value="${comment.commentArticleId}">
        <input type="hidden" name="commentRole" value="1">

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">原内容</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" disabled th:text="${comment.commentContent}">评论内容</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">我的昵称 </label>
            <div class="layui-input-block">
                <input type="text" name="commentAuthorName" th:value="${session.user.getUserNickname()}"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">我的邮箱 </label>
            <div class="layui-input-block">
                <input type="text" name="commentAuthorEmail" th:value="${session.user.getUserEmail()}"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">我的网址 </label>
            <div class="layui-input-block">
                <input type="text" name="commentAuthorUrl" th:value="${session.user.getUserUrl()}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">我的回复</label>
            <div class="layui-input-block">
                <textarea name="commentContent"  class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">回复</button>
                <button type="reset" class="layui-btn layui-btn-primary" >重置</button>
            </div>
        </div>

    </form>
</th:block>
</body>
</html>