<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>驰游云校</title>
</head>
<body>
<!--页脚 start-->
<footer th:fragment="footer" id="colophon" class="site-footer" role="contentinfo">
    <div class="site-info">
        <p style="text-align: center;">Copyright © 2019
            <a href="/" target="_blank" rel="noopener noreferrer" th:text="${session.option.optionSiteTitle}"></a>
            All rights reserved.&nbsp;&nbsp;
            <span style="font-size: 12px;"><a href="http://www.beian.miit.gov.cn/"
                                              target="_blank">赣ICP备18007918号</a></span>
        </p>
    </div>
</footer>
<!--页脚 end-->
</body>
</html>