<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- 顶层条 -->
<div th:fragment="head">

    <!-- 顶部条 start -->
    <header id="masthead" class="site-header">
        <!--顶部菜单 start-->
        <nav id="top-header">
            <div class="top-nav">
                <div class="user-login">
                    <a href="/admin">进入后台</a>
                </div>
                <div class="menu-topmenu-container">
                    <ul id="menu-topmenu" class="top-menu">
                        <li class="chat-to-me">
                            <a th:href="@{'http://wpa.qq.com/msgrd?V=3&amp;uin=' + ${session.option.optionAboutsiteQq} + '&amp;Site=QQ&amp;Menu=yes'}">
                                <i class="fa-paperclip fa"></i>
                                <span class="font-text">联系站长</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--顶部菜单 end-->

        <!--主要菜单 satrt-->
        <div id="menu-box">
            <div id="top-menu">
                <span class="nav-search">
                    <i class="fa fa-search"></i>
                </span>
                <div class="logo-site"><h1 class="site-title">
                    <a href="/" title="驰游云校">驰游云校</a>
                </h1>
                    <p class="site-description">校园里的小帮手</p>
                </div><!-- .logo-site -->
                <div id="site-nav-wrap">
                    <div id="sidr-close">
                        <a href="#sidr-close" class="toggle-sidr-close">×</a>
                    </div>
                    <nav id="site-nav" class="main-nav">
                        <a href="#sidr-main" id="navigation-toggle" class="bars">
                            <i class="fa fa-bars"></i>
                        </a>
                        <div class="menu-pcmenu-container">
                            <ul id="menu-pcmenu" class="down-menu nav-menu">

                                <li class="home">
                                    <a href="/">
                                        <i class="fa-home fa"></i>
                                        <span class="font-text">首页</span>
                                    </a>
                                </li>

                                <!-- menu -->
                                <li th:each="category : ${session.categories}">
                                    <a th:href="@{'/article/detail/' + ${category.parentCategory.id}}">
                                        <i th:class="${category.parentCategory.categoryIcon}"></i>
                                        <span class="font-text" th:text="${category.parentCategory.categoryName}"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li th:each="child : ${category.childCategory}">
                                            <a th:href="@{'/article/detail/' + ${child.id}}" th:text="${child.categoryName}" target="_blank"></a>
                                        </li>
                                    </ul>
                                </li>

                                <li th:each="menu : ${session.menus}">
                                    <a th:href="@{${menu.menuUrl}}">
                                        <i th:class="${menu.menuIcon}"></i>
                                        <span class="font-text" th:text="${menu.menuName}">留言板&nbsp;</span>
                                    </a>
                                </li>
                                <!-- menu end -->
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="clear"></div>
            </div><!-- #top-menu -->
        </div><!-- #menu-box -->
    </header>
    <!-- 顶部条 end -->

    <!-- 搜索框 start -->
    <div id="search-main">
        <div class="searchbar">
            <form method="get" id="searchform" action="/search" accept-charset="UTF-8">
        <span>
            <input type="text" value="" name="keywords" id="s" placeholder="输入搜索内容" required="">
            <button type="submit" id="searchsubmit">搜索</button>
        </span>
            </form>
        </div>
        <div class="clear"></div>
    </div>
    <!-- 搜索框 end -->
</div>
</body>
</html>