<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>驰游云校</title>
    <meta charset="UTF-8">
    <!-- 通用meta信息 -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="max-age=72000"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="applicable-device" content="pc,mobile">
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <link rel="shortcut icon" th:href="@{/img/logo.png}"/>
    <!-- 通用css -->
    <link rel="stylesheet" th:href="@{/plugin/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/plugin/font-awesome/css/font-awesome.min.css}"/>
    <!-- 引入看板娘css -->
    <link rel="stylesheet" th:href="@{/plugin/live2d/css/live2d.css}"/>
    <!-- 音乐插件 -->
    <link rel="stylesheet" th:href="@{/plugin/music/css/player.css}"/>
    <!-- 用户扩展 -->
    <th:block layout:fragment="link-extend"></th:block>
</head>
<body>
    <div id="page" class="site" style="transform: none;">
        <!-- 头部 -->
        <th:block th:include="Home/Model/header::head"></th:block>

        <!-- 导航栏 start -->
        <th:block layout:fragment="breadcrumb">
            <nav class="breadcrumb">
                <div class="bull"><i class="fa fa-volume-up"></i></div>
                <div id="scrolldiv">
                    <div class="scrolltext">
                        <ul style="margin-top: 0px;">
                            <li th:each="notice : ${notices}" class="scrolltext-title">
                                <a th:href="@{'/notice/' + ${notice.id}}" th:text="${notice.noticeTitle}" rel="bookmark"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </th:block>
        <!-- 导航栏 end -->
        <div id="content" class="site-content" style="transform: none;">
            <!-- 主体左边区域 -->
            <th:block layout:fragment="index-left"></th:block>

            <!-- 主体右边区域 -->
            <th:block layout:fragment="index-right"></th:block>

            <!-- 看板娘 -->
            <div id="landlord">
                <div class="message" style="opacity:0"></div>
                <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
                <!-- 工具栏 -->
                <div class="waifu-tool">
                    <span class="fa fa-home"></span>
                    <span class="fa fa-mobile"></span>
                    <span class="fa fa-music"></span>
                    <span class="fa fa-street-view"></span>
                    <span class="fa fa-camera"></span>
                    <span class="fa fa-close"></span>
                </div>
            </div>

            <!-- 固定块 -->
            <ul class="fix-block">
                <li class="live2d-block">看板娘</li>
                <li class="top-block" style="display: none">△</li>
            </ul>

            <!-- 音乐 -->
            <th:block th:replace="Home/Model/music::music"></th:block>
        </div>
        <div class="clear"></div>

        <th:block th:replace="Home/Model/footer::footer"></th:block>
    </div>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.cookie.js}"></script>
    <script th:src="@{/js/superfish.js}"></script>
    <script th:src="@{/js/sticky.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/plugin/layui/layui.js}"></script>

    <script th:src="@{/plugin/music/js/player.js}"></script>
    <script th:src="@{/plugin/music/js/playlist.js}"></script>
    <script th:src="@{/plugin/music/js/player_database.js}"></script>


    <!-- 二维码 -->
    <script type="text/javascript" th:src="@{/js/qrcode.min.js}"></script>

    <script type="text/javascript" th:src="@{/plugin/live2d/js/live2d.js}"></script>
    <script type="text/javascript" th:src="@{/plugin/live2d/js/message.js}"></script>
    <script type="text/javascript">
        var modelId = modelStorageGetItem('modelId');
        var modelTexturesId = modelStorageGetItem('modelTexturesId');
        if (modelId != null && modelTexturesId != null) {
            loadModel(modelId, modelTexturesId);
        } else {
            loadlive2d("live2d", "/plugin/live2d/model/tia/model.json");
        }

        $(function() {
            // 有侧边栏则放侧边栏下面，没有则放右边
            if ($("#sidebar").length > 0) {
                <!-- 初始化看板娘位置,居中于右侧栏目下 -->
                $("#landlord").css("left", $("#sidebar")[0].offsetLeft + 14.5);
                $("#landlord").css("bottom", "0px");
                <!-- 自动调整位置 -->
                $(window).resize(function () {
                    $("#landlord").css("left", $("#sidebar")[0].offsetLeft + 14.5);
                    <!-- 调整右侧模块是否显示 -->
                    hideElement($("#sidebar .widget"), 100);
                })
                $(window).scroll(function () {
                    hideElement($("#sidebar .widget"), 100);
                    if ($(document).scrollTop() >= 30) {
                        // 菜单悬浮
                        $("#menu-box").css("position", "fixed").css("top", "0px");
                    } else {
                        $("#menu-box").css("position", "relative");
                    }
                })
            } else {
                $("#landlord").css("right", "5%");
                $("#landlord").css("bottom", "0px");
            }
        })

        /**
         * 超过高度隐藏
         */
        function hideElement(sidebar, height) {
            // i从1开始，排除关于本站
            for (var i = 1;i < sidebar.length; i++) {
                var bottom = Math.abs($("#sidebar .widget").eq(i).offset().top - $("#landlord").offset().top);
                if (bottom <= height) {
                    sidebar.eq(i).css("opacity", 0);
                } else {
                    sidebar.eq(i).css("opacity", 1);
                }
            }
        }

        /**
         * 固定块按钮
         */
        $(window).scroll(function () {
            if ($(document).scrollTop() > 160) {
                $('.top-block').fadeIn();
            } else {
                $('.top-block').fadeOut();
            }
        });
        // 置顶按钮
        $('.top-block').click(function () {
            var timer = setInterval(function () {
                if ($(document).scrollTop() == 0) {
                    clearInterval(timer);
                } else {
                    $(document).scrollTop($(document).scrollTop() - 30);
                }
            }, 5);
        });
        // 看板娘按钮
        $(".live2d-block").click(function() {
            if ($("#landlord").css("opacity") == 1) {
                $('#landlord').animate({bottom:'-400px'},50)
                window.setTimeout(function(){$('#landlord').css("opacity", 0);},300);
                localStorage.setItem("live2d-status", "hide");
            } else {
                $('#landlord').animate({bottom:'0px'},50)
                window.setTimeout(function(){$('#landlord').css("opacity", 1);},300);
                localStorage.setItem("live2d-status", "show");
            }
        })

    </script>

    <!-- 扩展 -->
    <th:block layout:fragment="script-extend"></th:block>

</body>
</html>