<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjb.blog.mapper.CategoryMapper">

    <resultMap id="articleCategorysMap" type="com.hjb.blog.entity.normal.Category">
        <id column="id" property="id"/>
        <result column="category_pid" property="categoryPid"/>
        <result column="category_name" property="categoryName"/>
    </resultMap>

    <select id="selectArticleCategorysByArticleId" resultMap="articleCategorysMap">
        SELECT
            c.id,
            c.category_pid,
            c.category_name
        FROM
            category c,
            article_category_ref a
        WHERE
            a.article_id = #{id}
            AND a.category_id = c.id
        ORDER BY
            c.category_pid ASC
    </select>
</mapper>