<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjb.blog.mapper.JvtcUserMapper">

    <resultMap id="jvtcUserMap" type="com.hjb.blog.entity.normal.JvtcUser">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="truename" column="truename"/>
        <result property="vip" column="vip"/>
        <result property="durationEndTime" column="duration_end_time"/>
        <result property="clazz" column="clazz"/>
        <result property="cookie" column="cookie"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


    <resultMap id="userRobot" type="com.hjb.blog.entity.dto.UserRobotDTO">
        <id column="id" property="jvtcUser.id"/>
        <result column="username" property="jvtcUser.username"/>
        <result column="password" property="jvtcUser.password"/>
        <result column="cookie" property="jvtcUser.cookie"/>
        <result column="vip" property="jvtcUser.vip"/>
        <result column="clazz" property="jvtcUser.clazz"/>
        <collection property="robotList" javaType="java.util.List" ofType="com.hjb.blog.entity.normal.Robot">
            <id column="robot_id" property="id"/>
            <result column="robot_name" property="robotName"/>
            <result column="type" property="type"/>
            <result column="target" property="target"/>
            <result column="status" property="status"/>
        </collection>

    </resultMap>

    <select id="selectUserRobotList" resultMap="userRobot">
        SELECT
            u.id,
            u.username,
            u.password,
            u.cookie,
            u.vip,
            u.clazz,
            r.id robot_id,
            r.robot_name,
            r.type,
            r.target,
            r.`status`
        FROM
            jvtc_user u
            LEFT JOIN robot r ON ( u.id = r.jvtc_user_id )
        where
            r.status = 1
    </select>

    <select id="selectUserByRobotTarget" resultMap="jvtcUserMap">
        select u.*
        from robot r
               left join jvtc_user u on (r.jvtc_user_id = u.id)
        where r.target = #{value}
    </select>
</mapper>