<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjb.blog.mapper.TagMapper">


    <select id="selectArticleByTagId" resultMap="com.hjb.blog.mapper.ArticleMapper.articleMap" parameterType="java.lang.Integer">
        select
            a.id,
            a.article_user_id,
            a.article_title,
            a.article_view_count,
            a.article_comment_count,
            a.article_like_count,
            a.article_is_comment,
            a.article_status,
            a.article_order,
            a.article_summary,
            a.create_time,
            a.update_time
        from article a
        left join article_tag_ref atr on a.id = atr.article_id
        where
          atr.tag_id = #{tagId}
    </select>

</mapper>