<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="Home/Model/template">

<head>
    <title>驰游云校</title>
</head>
<body>
<th:block layout:fragment="index-left">
    <!-- 左侧区域 start -->
    <div th:fragment="left" id="primary" class="content-area a">
        <main id="main" class="site-main" role="main">
            <th:block th:each="article : ${articles.list}">
                <article class="post type-post">
                    <figure class="thumbnail">
                        <a th:href="@{'/article/' + ${article.id}}">
                            <img width="280" height="210"
                                 th:src="@{'/img/thumbnail/random/img_' + ${article.id} + '.jpg'}"
                                 class="attachment-content size-content wp-post-image"
                                 th:alt="${article.articleTitle}">
                        </a>
                        <span class="cat">
                            <a th:href="@{'/article/detail/' + ${article.categoryList[#lists.size(article.categoryList) - 1].id}}"
                               th:text="${article.categoryList[#lists.size(article.categoryList) - 1].categoryName}">
                            </a>
                        </span>
                    </figure>

                    <header class="entry-header link-effect">
                        <h2 class="entry-title">
                            <a th:href="@{'/article/' + ${article.id}}" th:text="${article.articleTitle}" rel="bookmark">
                            </a>
                        </h2>
                    </header>

                    <div class="entry-content">
                        <div class="archive-content" th:text="${article.articleSummary}">
                        </div>
                        <span class="title-l"></span>
                        <span class="entry-meta">
                                <span class="date" th:text="${#temporals.format(article.createTime, 'yyyy年MM月dd日')}">
                                </span>
                                &nbsp;&nbsp;
                                <span class="views">
                                    <i class="fa fa-eye"></i>
                                    <th:block th:text="${article.articleViewCount}"></th:block>
                                </span>
                                <span class="comment">
                                    &nbsp;&nbsp;
                                    <a th:href="@{'/article/' + ${article.id} + '#comments'}" rel="external nofollow">
                                        <i class="fa fa-comment-o"></i>
                                        <th:block th:text="${article.articleCommentCount}"></th:block>
                                    </a>
                                </span>
                            </span>
                        <div class="clear"></div>
                    </div>

                    <span class="entry-more">
                            <a th:href="'/article/' + ${article.id}" rel="bookmark">
                                阅读全文
                            </a>
                        </span>
                </article>
            </th:block>
        </main>

        <!-- 分页 start -->
        <nav class="navigation pagination" role="navigation">
            <div id="nav-links"></div>
        </nav>
        <!-- 分页 end-->

    </div>
</th:block>

<th:block layout:fragment="index-right">
    <th:block th:replace="Home/Model/right::right-index"></th:block>
</th:block>

<!-- 扩展js -->
<th:block layout:fragment="script-extend">
    <script th:inline="javascript">
        <!-- 分页 -->
        /*<![CDATA[*/
        var pages = /*[[${articles.pageSize}]]*/ 1;
        var curr = /*[[${articles.pageNum}]]*/ 1;
        var size = /*[[${articles.total}]]*/ 5;

        layui.use(['layer','laypage'], function(){
            var laypage = layui.laypage,layer = layui.layer;
            laypage.render({
                elem: 'nav-links'
                ,limit: pages
                ,curr: curr
                ,count: size
                ,jump: function(obj, first) {
                    var currPage = obj.curr;
                    if (!first) {
                        location.href = '/index?startPage=' + currPage;
                    }
                }
            });
        })

        /*]]>*/
    </script>
</th:block>
</body>
</html>